[Unit]
Description=Run tabula-rasa frontend
OnFailure=status_email_user@%n.service
[Service]
ExecStart=%h/bin/npm-tabula-rasa.sh
Restart=always
RestartSec=30
[Install]
WantedBy=default.target
